<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #a9d1ee;">
  <a class="navbar-brand" href="#">Web Dev</a>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" [routerLink]="['/angular']">Angular</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="#">My Hobby Projects</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" [routerLink]="['/roadmaps']">Roadmap</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" [routerLink]="['/revision-cheat-sheet']" >Revision and cheat-sheet</a>
      </li>
    </ul>
  <a href="https://github.com/bittu1040" target="_blank" class="btn btn-outline-success"><i class="bi bi-github"></i></a>
  <a href="https://medium.com/@bittukumar-web" target="_blank" class="btn btn-outline-success" style="margin-left: 0.5rem;"><i class="bi bi-medium"></i></a>
  <a href="https://www.linkedin.com/in/bittukumar-web/" target="_blank" class="btn btn-outline-success" style="margin-left: 0.5rem;margin-right: 0.5rem;"><i class="bi bi-linkedin"></i></a>

  </div>
</nav>
<router-outlet></router-outlet>