<div class="container-fluid  custom-container">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">

    <a class="navbar-brand" href="#">Web Dev</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Angular</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">My Hobby Projects</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Roadmap</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Revision and cheat-sheet</a>
        </li>
      </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </nav>

  <div class="row row-cols-1 row-cols-md-3 g-4 mt-1">
    <div class="col">
      <div class="card h-100">
        <div class="card-body">
          <h5 class="card-title">Angular Routing</h5>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
            content. This content is a little bit longer.</p>
          <div class="mt-auto">
            <a href="#" class="btn btn-primary m-2">Code</a>
            <a href="#" class="btn btn-primary">Live Demo</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <div class="card-body d-flex flex-column">
          <h5 class="card-title">Route and Auth guards</h5>
          <p class="card-text">This is a short card.</p>
          <div class="mt-auto">
            <a href="#" class="btn btn-primary m-2">Code</a>
            <a href="#" class="btn btn-primary">Live Demo</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <div class="card-body">
          <h5 class="card-title">Hoisting in Javascript</h5>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
            content.</p>
          <div class="mt-auto">
            <a href="#" class="btn btn-primary m-2">Code</a>
            <a href="#" class="btn btn-primary">Live Demo</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <div class="card-body d-flex flex-column">
          <h5 class="card-title">Crud App- JSON server</h5>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
            content. This content is a little bit longer.</p>
          <div class="mt-auto">
            <a href="#" class="btn btn-primary m-2">Code</a>
            <a href="#" class="btn btn-primary">Live Demo</a>
          </div>
        </div>
      </div>
    </div>






    <div class="col">
      <div class="card h-100">
        <div class="card-body">
          <h5 class="card-title">Vanila JS DOM Project</h5>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
            content. This content is a little bit longer.</p>
          <div class="mt-auto">
            <a href="#" class="btn btn-primary m-2">Code</a>
            <a href="#" class="btn btn-primary">Live Demo</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>